body {
    background-image: url(images/bg-pattern-desktop.svg);
    background-size: 70%;
    font-family: 'Josefin Sans';
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

.col-lg-5 {
    padding-right: 0px;
}

#ba-logo {
    padding-top: 4em;
    padding-bottom: 7em;
}

#coming-soon {
    text-transform: capitalize;
}

#cs {
    font-weight: 
}

#hero-desktop {
    height: 100vh;
    object-fit: cover;
}

#scrn-left {
    padding-left: 150px;
}

#we {
    font-weight: 300;
}