body {
    background-image: url(images/bg-pattern-desktop.svg);
    background-size: 70%;
    font-family: 'Josefin Sans';
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

.child {
    position: absolute;
}

.form-control:focus {
    border-color: hsl(0, 36%, 70%);
}

.form-control::selection {
    border-color:
}

#image-col {
    padding-right: 0px;
}

#announcement {
    font-weight: 400;
    color: hsl(0, 36%, 70%);
}

#ba-logo {
    padding-top: 4em;
    padding-bottom: 7em;
}

#coming-soon {
    text-transform: capitalize;
    letter-spacing: .7rem;
    font-size: 65px;
    line-height: 110%;
}

#cs {
    font-weight: 600;
}

#email-address-input {
    border-radius: 2rem;
    border-width: thin;
    border-color: hsl(0, 36%, 70%) !important;
    background-color: transparent !important;
}

#hero-desktop {
    height: 100vh;
    object-fit: cover;
}

#scrn-left {
    padding-left: 150px;
}

#submit {
    border-radius: 2rem;
    font-size: 20px;
    background-image: linear-gradient(to right, #f8b4b5, #f19393);
    border-color: hsl(0, 36%, 70%);
    color: white;
    right: 0px;
}

#we {
    font-weight: 200;
    color: hsl(0, 36%, 70%);
}

::placeholder {
    color: hsl(0, 36%, 70%);
}