body {
    background-image: url(images/bg-pattern-desktop.svg);
    background-size: 70%;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

.col-lg-5 {
    padding-right: 0px;
}

#hero-desktop {
    height: 100vh;
    object-fit: cover;
}

#scrn-left {
    padding-left: 150px;
}